@*@{
    ViewBag.Title = "Its about Career Ideas";
}
<h2 style="color:LightSeaGreen ">@ViewBag.Title.</h2>*@
<div class="row">
    <div class="col-md-2 about">
        <br/>
        <img src="~/images/about.jpg">
    </div>
    <br/>
    <br/>
    <div class="col-md-3 about">
        <h1> About Us </h1>
    </div>

    </div>
<br/>
<div class="row">
    <div class="col-md-10 about">
        <ul>
            <li>This website will provide you the best Ideas for your career.</li>
            <li>EveryBody has many aims. Sometimes those aims or intentions are not as usefull as they should be.</li>
            <li>
                Here we will give you some creiteria acording to your skills and your qualification to choose a better field.
            </li>
            <li>
                Its not only for those who get Higher Education.
            </li>
            <li>
                Its basically for those who had started their journey after Intermediate.
            </li>
            <li>
                So be ready for getting updates and usefull Ideas for your better future.
            </li>
        </ul>
    </div>
    </div>
<p class="alert-success" style="text-align:center">Our effort is for Studnet Ease and Awareness.</p>

<div>
    <br />
    <div class="aboutpl">
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li> @Html.ActionLink("Statement of Rights and Responsibilities", "Statements", "Home")</li>
            </br>
            <li> @Html.ActionLink("Data Policy", "DataPolicy", "Home")</li>
         </ul>
        </div>
    </div>
    </div>


