@*@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>*@

<br/><br/>
<div class="row">
    <div class="col-md-4">
        <address>
            One Career Way<br />
            Lahore, Pakistan<br />
            <abbr title="Phone">P:</abbr>
            425.555.0100
        </address>

        <address>
            <strong>Support:</strong>   <a href="mailto:Career@example.com">Career@example.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Career@example.com">Career@example.com</a><br />
            <strong>Email:</strong>   <a href="mailto:CareerIdeas@example.com">CareerIdeas@example.com</a><br />
            <strong>Skype:</strong> <a href="mailto:CareerIdeas@example.com">CareerIdeas@example.com</a>

        </address>
    </div>
   <br/>
        <div class="contact">
            <p>
                Our Website is providing you best Ideas for your career.<br />
                You can Contact us via Mail or Skyp.<br />
                Get Ideas and give feedback.
            </p>
       
    </div>
   
</div>