@{
    ViewBag.Title = "DataPolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-2 about">
        <br />
        <img src="~/images/policy.jpg">
    </div>
    <br />
    <br />
    <div class="col-md-3 about">
        <h1>Data Policy </h1>
    </div>
</div>
<br />
<div class="policy">

    <p style="background-color:lightseagreen">
        <em>
            We give you the power to share as part of our mission to make the world more open and
            connected.This policy describes what information we collect and how it is used and shared.
            You can find additional tools and information.
            As you review our policy, keep in mind that it
            applies to all Find Me brands, products and services that do not have a separate privacy policy.
        </em>
    </p>
  
        <ul>

            <li><a href="#2">What kinds of information do we collect?</a></li>
            <li><a href="#3">How do we use this information?</a></li>
            <li><a href="#4">How can I manage or delete information about me? </a></li>
        </ul>
    
    <p style="background-color:lightseagreen"><em>Depending on which Services you use, we collect different kinds of information from or about you.</em> </p>

    <h5 class="alert alert-danger">
        <a id="2"></a>What kinds of information do we collect?
    </h5>
    <h2>Things you do and information you provide.</h2>
    <h3 style="font-size:20px;">
        We collect the content and other information you provide when you use our Services,<br />
        including when you sign up for an account, create or share, and message or communicate<br />
        with others.This can include information in or about the content you provide, such as the<br />
        location of a photo orthe date a file was created. We also collect information about how you<br />
        use our Services, such as the types of content you view or engage with or the frequency and <br />
        duration of your activities.
    </h3>

    <h2>Things others do and information they provide.</h2>
    <h3 style="font-size:20px;">
        We also collect content and information that other people provide when they use our Services, <br />
        including information about you, such as when they share a photo of you, send a message to you,  <br />
        or upload,sync or import your contact information.
    </h3>

    <h2>Your networks and connections.</h2>
    <h3 style="font-size:20px;">
        We collect information about the people and groups you are connected to and how you interact<br />
        with them, such as the people you communicate with the most or the groups you like to share with.<br />
        We also collect contact information you provide if you upload, sync or import this information <br />
        (such as an address book) from a device.
    </h3>

    <h5 class="alert alert-danger"><a id="3"></a>How do we use this information?</h5>
    <h3 style="font-size:20px;">
        We are passionate about creating engaging and customized experiences for people. We use all<br />
        of the information we have to help us provide and support our Services. Here’s how:
    </h3>
    <h2>Provide, improve and develop Services.</h2>
    <h3 style="font-size:20px;">
        We are able to deliver our Services, personalize content, and make suggestions for you by <br />
        using this information to understand how you use and interact with our Services and the people or<br />
        things you’re connected to and interested in on and off our Services.
    </h3>
    <h2>Communicate with you.</h2>
    <h3 style="font-size:20px;">
        We use your information to send you marketing communications, communicate with you about our Services and<br />
        let you know about our policies and terms. We also use your information to respond to you when you contact us.
    </h3>
    <h2>Promote safety and security.</h2>
    <h3 style="font-size:20px;">
        We use the information we have to help verify accounts and activity, and to promote safety and<br />
        security on and off of our Services, such as by investigating suspicious activity or violations of our<br />
        terms or policies. We work hard to protect your account using teams of engineers, automated systems,<br />
        and advanced technology such as encryption and machine learning.
    </h3>

    <h5  class="alert alert-danger"><a id="4"></a>How can I manage or delete information about me?</h5>
    <h3 style="font-size:20px;">
        You can manage the content and information you share when you use Find Me.<br />
        We store data for as long as it is necessary to provide products and services to you and<br />
        others, including those described above. Information associated with your account will be kept until<br />
        your account is deleted, unless we no longer need the data to provide products and services.
    </h3>
    <h3 style="font-size:20px;">
        You can delete your account any time. When you delete your account, we delete things you have posted,<br />
        such as your photos and status updates
    </h3>
  
    </div>



