
@{
    ViewBag.Title = "Statements";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-2 about">
        <br />
        <img src="~/images/statement.jpg">
    </div>
    <br />
    <br />
    <div class="col-md-9 about">
        <h1> Statement of Rights and Responsibilities</h1>
    </div>

</div>
<br />
<div class=" ss">
    <h1 class="alert alert-success">Privacy</h1>

    </div>

<div class="st">
<h6>
    Your privacy is very important to us. We designed our Data Policy to make important <br />
    disclosures about how you can use our ideas or how to share with others and how we collect <br />
    and can use your content and information. We encourage you to read the Data Policy,<br />
    and to use it to help you make informed decisions.
</h6>
    </div>
<br/>
<br/>
<div class="container">
    <div class="ok">
        <div class="row">
            <div class="col-md-4">

                <p>
                    <h5 class="alert alert-danger">Safety</h5>
                    <h6 style="font-size:17px;">
                        We do our best to keep Facebook safe, but we cannot guarantee it.<br />
                        We need your help to keep Facebook safe, which includes the following commitments by you:<br />
                    </h6>
                    <ul>
                        <li>You will not upload viruses or other malicious code.</li>
                        <li>You will not solicit login information or access an account belonging to someone else.</li>
                        <li>You will not bully, intimidate, or harass any user.</li>
                        <li>You will not post content that: is hate speech, threatening, or pornographic; incites violence; or contains nudity or graphic or gratuitous violence.</li>
                    </ul>

                </p>
            </div>
            <div class="col-md-4">
                <p>
                    <h5 class="alert alert-danger">Registration and Account Security</h5>
                    <h6 style="font-size:17px;">
                        Find Me users provide their real names and information, and we need your help to keep it that way.<br />
                        Here are some commitments you make to us relating to registering and maintaining the security of your account:<br />
                    </h6>
                    <ul>
                        <li> You will not provide any false personal information on Find Me, or create an account for anyone other than yourself without permission.</li>
                        <li> You will not create more than one personal account.</li>
                        <li> If we disable your account, you will not create another one without our permission.</li>
                        <br />
                    </ul>

                </p>
            </div>
            <div class="col-md-4">
                <p>
                    <h5 class="alert alert-danger">Sharing Your Content and Information</h5>
                    <h6 style="font-size:17px;">
                        You own all of the content and information you post on Find Me, and you can control
                    </h6>
                    <ul>
                        <li> how it is shared through your privacy and application settings.</li>
                    </ul>

                </p>
            </div>
        </div>
    </div>
</div>


<div class="contact">
    <p>
        This agreement was written in English (US). <br />
        To the extent any translated version of this agreement<br />
        conflicts with the English version, the English version controls.
    </p>
</div>











